
<table>
     <% @comments.each do |comment| %>
      <tr>
        <td>
        <%= link_to comment.user.name + ':', mytimeline_path(comment.user.id) %>
        <%= comment.content %>  
        </td>
      </tr>
      <% end %>  
 </table>
