<!-- <h1 class="middle-page">
	Tag Cloud
</h1> -->

<div class="middle-page">
<h1>
	Trending
</h1>

<br>

<!-- sorted alphabetically -->
<% tag_cloud(Music.tag_counts.sort { |x, y| x.name <=> y.name }.select { |x| x.taggings_count > @threshold }, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag), :class => css_class %>
<% end %>

<div/>