<!-- <h1 class="middle-page">
	Tag Cloud
</h1> -->

<div class="middle-page">
<h1>
	Trending
</h1>

<br>

<!-- sorted alphabetically -->
<% tag_cloud(Music.tag_counts.sort { |x, y| x.name <=> y.name }.select { |x| x.taggings_count > @threshold }, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, showtag_path(tag), :class => css_class %>
<% end %>

	<section class="cd-intro">
		<h1 class="cd-headline rotate-1">
			<span>My favourite music is</span>
			<span class="cd-words-wrapper">
				<b class="is-visible">pop</b>
				<b>rock</b>
				<b>jazz</b>
				<b>rap</b>
				<b>latin</b>
			</span>
		</h1>
	</section> <!-- cd-intro -->

<div/>