  <% if @unlike.errors.any? %>
    <div id="error_explanation">
      <h4>Failed to post this unlike</h4>

      <ul>
      <% @unlike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@unlike) do |f| %>

  <div class="field">
    <%= f.hidden_field :post_id, :value => params[:post_id]%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
